
#mainInfo i{
	color: #002166;
	margin-left: 40px;
}
#mainInfo h4{
	margin-left: 40px;
}
img {
	margin-left: 40px;
}
#AboutTable{
	margin-left: -200px;
}
#mainInfo {
	text-align: left;
	margin-top: 40px;
}
#AboutTable h4{
	margin: 50px;
}
#AboutTable h5{
	margin: 30px;
	font-size: medium;
}
#Watchlistlogo {
	margin-left:-20px;
}
#AboutTable i{
	margin-left: 20px;
}
#sidebar li{
	font-size: 14px;
}
body td{
	margin: 10px;
}
#titleId {
	font-size: 20px;
	vertical-align: middle;
	color: #002166;
}
#sidebar{
	margin-top: 60px;
	margin-left: -200px;
}
img{
	margin-left: 0px;
}
