.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.red-percentage {
	color: red;
}

.green-percentage {
	color: green;
}
.main-row{
	color: white;
}
.text-center{
	color: #002166;
}
#actions-table-content td {
	vertical-align: middle;
}
nav{
background-color: whitesmoke;
}
.nav-link{
	color: #002166;
	border-bottom: solid darkgray 1px;
}
#titleId{
	color: #002166;
}
