.red-percentage {
	color: red;
}

.green-percentage {
	color: green;
}
.main-row{
	color: white;
}
.text-center{
	color: #002166;
}
#actions-table-content td {
	vertical-align: middle;
}

#titleId{
	color: #002166;
}
