.headHausse th{
	color: #002166;
}
#stats-hausses a{
	color: #002166;
}
#stats-baisses a{
	color: #002166;
}
#stats-volumes a{
	color: #002166;
}
#mainMarche{
	margin-top: 40px;
}
#titleId {
	color: #002166;
}
#sidebar{
	margin-left: -200px;
	margin-top: 60px;
}
