.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
nav{
	background-color: whitesmoke;
}
.nav-link{
	color: #002166;
	border-bottom: solid darkgray 1px;
}
a.nav-link{
	font-size: 14px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top:10px;
	padding-bottom:10px ;
}

